@model DataTable
@using System.Data

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Code</th>
            <th>Description</th>
            <th>User ID</th>
            <th>User Name</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody> 
        @foreach(DataRow row in Model.Rows)
        {
            <tr>
				<td>@row["ProductID"]</td>
				<td>@row["ProductName"]</td>
				<td>@row["ProductPrice"]</td>
				<td>@row["ProductCode"]</td>
				<td>@row["Description"]</td>
                <td>@row["UserID"]</td>
				<td>@row["UserName"]</td>
                <td>@row["IsActive"]</td>

                <td>
                    <a asp-action="Add_Product" asp-route-ProductID="@row["ProductID"]" class="btn btn-outline-primary btn-sm ">Edit</a>

                          <form method="post" asp-controller="Product" asp-action="ProductDelete" style="display:inline;">
                                <input type="hidden" name="ProductID" value="@row["ProductID"]" />
                                <button onclick="return confirm('Delete?')" type="submit" class="btn btn-outline-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>

			</tr>
        }

    </tbody>
</table>